.headBackImg{
    background-image: url(./color-image.png);
    height:250px;
    padding:100px 0px 0px 0px;
    width:100%;
}
.t1{
    color: orange;
    font-size: 30px;
}
.t2{
    color: white;
    font-size: 30px;
}
.t3{
    color: white;
}
.flexBtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.btn{
    width:150px;
    height:50px;
    color: white;
}
#btn1{
    border: 2px solid #1dad9b;
    background-color:#1dad9b;
    border-radius: 10px;
    margin-right:25px;
    cursor: pointer;
}
#btn2{
    border: 2px solid orange;
    background-color:orange;
    border-radius: 10px;
}
.btn11{
    color: white;
    text-align: center;
    padding-left: 15px;
}

@media screen and (min-width:360px) and (max-width:640px) {
    .headBackImg{
        height: 302px;
        width:150vh;
        padding-bottom: 22px;
        margin-bottom: 30px;
    }
    .t1{
        font-size: 48px;
    }
    .t2{
        font-size: 38px;
    }
    .t3{
        font-size: 30px;
    }
    .btn{
        width:250px;
        height:60px;
        color: white;
    }
    .btn11{
        font-size: 30px;
    }
}